@{


}
@model IEnumerable<WebProjeAkademisyenProfil.Models.Academician>

<!DOCTYPE html>


<html lang="en"
      class="light-style layout-menu-fixed"
      dir="ltr"
      data-theme="theme-default"
      data-assets-path="~/assets/">
<head>
    <meta charset="utf-8" />
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />

    <title>Admin Deneyim Ekle</title>

    <meta name="description" content="" />


    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
          rel="stylesheet" />

    <link rel="stylesheet" href="~/assets/vendor/fonts/boxicons.css" />

    <link rel="stylesheet" href="~/assets/vendor/css/core.css" class="template-customizer-core-css" />
    <link rel="stylesheet" href="~/assets/vendor/css/theme-default.css" class="template-customizer-theme-css" />
    <link rel="stylesheet" href="~/assets/css/demo.css" />

    <link rel="stylesheet" href="~/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css" />


    <script src="~/assets/vendor/js/helpers.js"></script>

    <script src="~/assets/js/config.js"></script>
</head>

<body>

    <div id="adminExperienceAdd" class="layout-wrapper layout-content-navbar">
        <div class="layout-container">

            <aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
                <div class="app-brand demo">
                    <a href="~/Admin/HomeAdmin/HomeAdmin" class="app-brand-link">
                        <span class="app-brand-logo demo">
                            <img src="~/Images/logo.png" width="40" />
                        </span>
                        <span class="app-brand-text demo menu-text fw-bolder ms-2">Etü Admin</span>
                    </a>

                    <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto d-block d-xl-none">
                        <i class="bx bx-chevron-left bx-sm align-middle"></i>
                    </a>
                </div>

                <div class="menu-inner-shadow"></div>

                <ul class="menu-inner py-1">
                    <li class="menu-item">
                        <a href="~/Admin/HomeAdmin/HomeAdmin" class="menu-link">
                            <i class="menu-icon tf-icons bx bx-home-circle"></i>
                            <div data-i18n="Analytics">Anasayfa</div>
                        </a>
                    </li>

                    <li class="menu-header small text-uppercase"><span class="menu-header-text">Sayfalar</span></li>

                    <li class="menu-item ">
                        <a href="javascript:void(0);" class="menu-link menu-toggle">
                            <i class="menu-icon tf-icons bx bx-user-circle"></i>
                            <div data-i18n="Form Layouts">Akademisyenler</div>
                        </a>
                        <ul class="menu-sub">
                            <li class="menu-item ">
                                <a href="~/Admin/AdminAcademician/AdminAcademician" class="menu-link">
                                    <div data-i18n="Vertical Form">Akademisyenler Düzenle</div>
                                </a>
                            </li>
                            <li class="menu-item">
                                <a href="~/Admin/AdminAcademician/AdminAcademicianAdd" class="menu-link">
                                    <div data-i18n="Horizontal Form">Akademisyen Ekle</div>
                                </a>
                            </li>
                        </ul>
                    </li>

                    <li class="menu-item">
                        <a href="javascript:void(0);" class="menu-link menu-toggle">
                            <i class="menu-icon tf-icons bx bx-home-alt"></i>
                            <div data-i18n="Form Layouts">Anasayfa Düzenle</div>
                        </a>
                        <ul class="menu-sub">
                            <li class="menu-item ">
                                <a href="~/Admin/AdminInfo/AdminInfo" class="menu-link">
                                    <div data-i18n="Vertical Form">Anasayfa Bilgileri Düzenle</div>
                                </a>
                            </li>
                            <li class="menu-item">
                                <a href="~/Admin/AdminInfo/AdminInfoAdd" class="menu-link">
                                    <div data-i18n="Horizontal Form">Anasayfa Bilgi Ekle</div>
                                </a>
                            </li>
                        </ul>
                    </li>


                    <li class="menu-item">
                        <a href="javascript:void(0);" class="menu-link menu-toggle">
                            <i class="menu-icon tf-icons bx bx-edit"></i>
                            <div data-i18n="Form Layouts">Öğrenimler</div>
                        </a>
                        <ul class="menu-sub">
                            <li class="menu-item ">
                                <a href="~/Admin/AdminEducation/AdminEducation" class="menu-link">
                                    <div data-i18n="Vertical Form">Öğrenimleri Düzenle</div>
                                </a>
                            </li>
                            <li class="menu-item">
                                <a href="~/Admin/AdminEducation/AdminEducationAdd" class="menu-link">
                                    <div data-i18n="Horizontal Form">Öğrenim Ekle</div>
                                </a>
                            </li>
                        </ul>
                    </li>

                    <li class="menu-item">
                        <a href="javascript:void(0);" class="menu-link menu-toggle">
                            <i class="menu-icon tf-icons bx bx-news"></i>
                            <div data-i18n="Form Layouts">Makaleler</div>
                        </a>
                        <ul class="menu-sub">
                            <li class="menu-item ">
                                <a href="~/Admin/AdminArticle/AdminArticle" class="menu-link">
                                    <div data-i18n="Vertical Form">Makaleleri Düzenle</div>
                                </a>
                            </li>
                            <li class="menu-item">
                                <a href="~/Admin/AdminArticle/AdminArticleAdd" class="menu-link">
                                    <div data-i18n="Horizontal Form">Makale Ekle</div>
                                </a>
                            </li>
                        </ul>
                    </li>

                    <li class="menu-item">
                        <a href="javascript:void(0);" class="menu-link menu-toggle">
                            <i class="menu-icon tf-icons bx bx-bulb"></i>
                            <div data-i18n="Form Layouts">Projeler</div>
                        </a>
                        <ul class="menu-sub">
                            <li class="menu-item ">
                                <a href="~/Admin/AdminProject/AdminProject" class="menu-link">
                                    <div data-i18n="Vertical Form">Projeleri Düzenle</div>
                                </a>
                            </li>
                            <li class="menu-item">
                                <a href="~/Admin/AdminProject/AdminProjectAdd" class="menu-link">
                                    <div data-i18n="Horizontal Form">Proje Ekle</div>
                                </a>
                            </li>
                        </ul>
                    </li>

                    <li class="menu-item">
                        <a href="javascript:void(0);" class="menu-link menu-toggle">
                            <i class="menu-icon tf-icons bx bx-group"></i>
                            <div data-i18n="Form Layouts">Üyelikler</div>
                        </a>
                        <ul class="menu-sub">
                            <li class="menu-item ">
                                <a href="~/Admin/AdminMembership/AdminMembership" class="menu-link">
                                    <div data-i18n="Vertical Form">Üyelikleri Düzenle</div>
                                </a>
                            </li>
                            <li class="menu-item">
                                <a href="~/Admin/AdminMembership/AdminMembershipAdd" class="menu-link">
                                    <div data-i18n="Horizontal Form">Üyelik Ekle</div>
                                </a>
                            </li>
                        </ul>
                    </li>

                    <li class="menu-item">
                        <a href="javascript:void(0);" class="menu-link menu-toggle">
                            <i class="menu-icon tf-icons bx bx-envelope"></i>
                            <div data-i18n="Form Layouts">Bildiriler</div>
                        </a>
                        <ul class="menu-sub">
                            <li class="menu-item ">
                                <a href="~/Admin/AdminNotice/AdminNotice" class="menu-link">
                                    <div data-i18n="Vertical Form">Bildirileri Düzenle</div>
                                </a>
                            </li>
                            <li class="menu-item">
                                <a href="~/Admin/AdminNotice/AdminNoticeAdd" class="menu-link">
                                    <div data-i18n="Horizontal Form">Bildiri Ekle</div>
                                </a>
                            </li>
                        </ul>
                    </li>

                    <li class="menu-item">
                        <a href="javascript:void(0);" class="menu-link menu-toggle">
                            <i class="menu-icon tf-icons bx bx-book"></i>
                            <div data-i18n="Form Layouts">Kitaplar</div>
                        </a>
                        <ul class="menu-sub">
                            <li class="menu-item ">
                                <a href="~/Admin/AdminBook/AdminBook" class="menu-link">
                                    <div data-i18n="Vertical Form">Kitapları Düzenle</div>
                                </a>
                            </li>
                            <li class="menu-item">
                                <a href="~/Admin/AdminBook/AdminBookAdd" class="menu-link">
                                    <div data-i18n="Horizontal Form">Kitap Ekle</div>
                                </a>
                            </li>
                        </ul>
                    </li>

                    <li class="menu-item">
                        <a href="javascript:void(0);" class="menu-link menu-toggle">
                            <i class="menu-icon tf-icons bx bx-detail"></i>
                            <div data-i18n="Form Layouts">Dersler</div>
                        </a>
                        <ul class="menu-sub">
                            <li class="menu-item ">
                                <a href="~/Admin/AdminLesson/AdminLesson" class="menu-link">
                                    <div data-i18n="Vertical Form">Dersleri Düzenle</div>
                                </a>
                            </li>
                            <li class="menu-item">
                                <a href="~/Admin/AdminLesson/AdminLessonAdd" class="menu-link">
                                    <div data-i18n="Horizontal Form">Ders Ekle</div>
                                </a>
                            </li>
                        </ul>
                    </li>

                    <li class="menu-item">
                        <a href="javascript:void(0);" class="menu-link menu-toggle">
                            <i class="menu-icon tf-icons bx bx-trophy"></i>
                            <div data-i18n="Form Layouts">Ödüller</div>
                        </a>
                        <ul class="menu-sub">
                            <li class="menu-item ">
                                <a href="~/Admin/AdminAward/AdminAward" class="menu-link">
                                    <div data-i18n="Vertical Form">Ödülleri Düzenle</div>
                                </a>
                            </li>
                            <li class="menu-item">
                                <a href="~/Admin/AdminAward/AdminAwardAdd" class="menu-link">
                                    <div data-i18n="Horizontal Form">Ödül Ekle</div>
                                </a>
                            </li>
                        </ul>
                    </li>

                    <li class="menu-item active open">
                        <a href="javascript:void(0);" class="menu-link menu-toggle">
                            <i class="menu-icon tf-icons bx bx-briefcase"></i>
                            <div data-i18n="Form Layouts">Deneyimler</div>
                        </a>
                        <ul class="menu-sub">
                            <li class="menu-item ">
                                <a href="~/Admin/AdminExperience/AdminExperience" class="menu-link">
                                    <div data-i18n="Vertical Form">Deneyimleri Düzenle</div>
                                </a>
                            </li>
                            <li class="menu-item active">
                                <a href="~/Admin/AdminExperience/AdminExperienceAdd" class="menu-link">
                                    <div data-i18n="Horizontal Form">Deneyim Ekle</div>
                                </a>
                            </li>
                        </ul>
                    </li>

                    <li class="menu-item">
                        <a href="javascript:void(0);" class="menu-link menu-toggle">
                            <i class="menu-icon tf-icons bx bx-award"></i>
                            <div data-i18n="Form Layouts">Sertifikalar</div>
                        </a>
                        <ul class="menu-sub">
                            <li class="menu-item ">
                                <a href="~/Admin/AdminCertificate/AdminCertificate" class="menu-link">
                                    <div data-i18n="Vertical Form">Sertifikaları Düzenle</div>
                                </a>
                            </li>
                            <li class="menu-item">
                                <a href="~/Admin/AdminCertificate/AdminCertificateAdd" class="menu-link">
                                    <div data-i18n="Horizontal Form">Sertifika Ekle</div>
                                </a>
                            </li>
                        </ul>
                    </li>


                </ul>
            </aside>

            <div class="layout-page">

                <nav class="layout-navbar container-xxl navbar navbar-expand-xl navbar-detached align-items-center bg-navbar-theme"
                     id="layout-navbar">
                    <div class="layout-menu-toggle navbar-nav align-items-xl-center me-3 me-xl-0 d-xl-none">
                        <a class="nav-item nav-link px-0 me-xl-4" href="javascript:void(0)">
                            <i class="bx bx-menu bx-sm"></i>
                        </a>
                    </div>

                    <div class="navbar-nav-right d-flex align-items-center" id="navbar-collapse">

                        <ul class="navbar-nav flex-row align-items-center ms-auto">

                            <li class="nav-item navbar-dropdown dropdown-user dropdown">
                                <a class="nav-link dropdown-toggle hide-arrow" href="javascript:void(0);" data-bs-toggle="dropdown">
                                    <div class="avatar avatar-online">
                                        <img src="@ViewBag.AdminImage" class="w-px-40 h-auto rounded-circle" />
                                    </div>
                                </a>
                                <ul class="dropdown-menu dropdown-menu-end">
                                    <li>
                                        <a class="dropdown-item" href="~/Admin/AdminUsers/AdminUsers">
                                            <div class="d-flex">
                                                <div class="flex-shrink-0 me-3">
                                                    <div class="avatar avatar-online">
                                                        <img src="@ViewBag.AdminImage" class="w-px-40 h-auto rounded-circle" />
                                                    </div>
                                                </div>
                                                <div class="flex-grow-1">
                                                    <span class="fw-semibold d-block">@ViewBag.AdminName @ViewBag.AdminSurName</span>
                                                    <small class="text-muted">Admin</small>
                                                </div>
                                            </div>
                                        </a>
                                    </li>

                                    <li>
                                        <div class="dropdown-divider"></div>
                                    </li>
                                    <li>
                                        <a v-on:click="logOut()" class="dropdown-item" href="~/Admin/Login">
                                            <i class="bx bx-power-off me-2"></i>
                                            <span class="align-middle">Çıkış Yap</span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </nav>

                <div class="content-wrapper">

                    <div class="container-xxl flex-grow-1 container-p-y">

                        <div class="btn-group mb-4">
                            <label class="d-block" for="acList">Akademisyen Seçiniz : &nbsp; </label>
                            <select id="acList" class="ms-1 btn btn-primary dropdown-toggle" v-model="selectedValue">

                                @foreach (var item in Model)
                                {
                                    <option value="@item.AcademicianId">@item.AcademicianName @item.AcademicianSurName</option>
                                }
                            </select>
                        </div>




                        <div id="formEdit" v-if="selectedValue" class="row">
                            <div class="col-xl">
                                <div class="card mb-4">
                                    <div class="card-header d-flex justify-content-between align-items-center">
                                        <h5 class="mb-0">Deneyim Ekle</h5>

                                    </div>
                                    <div class="card-body">

                                        <form id="formExperienceAdd">
                                            <div class="mb-3">
                                                <label class="form-label" for="experienceNameInputAdd">Deneyim Adı</label>
                                                <input type="text" class="form-control" id="experienceNameInputAdd" placeholder="Deneyim adı" v-model="deneyimAdi" />
                                            </div>

                                            <div class="mb-3">
                                                <label for="experienceStartDateInputAdd" class="col-md-2 col-form-label">Deneyim Başlama Tarihi</label>
                                                <div class="col-md-10">
                                                    <input class="form-control"
                                                           type="datetime-local"
                                                           v-model="deneyimBasTar"
                                                           id="experienceStartDateInputAdd" />
                                                </div>
                                            </div>

                                            <div class="mb-3">
                                                <label for="experienceEndDateInputAdd" class="col-md-2 col-form-label">Deneyim Bitiş Tarihi</label>
                                                <div class="col-md-10">
                                                    <input class="form-control"
                                                           type="datetime-local"
                                                           v-model="deneyimBitTar"
                                                           id="experienceEndDateInputAdd" />
                                                </div>
                                            </div>

                                        </form>

                                        <button v-on:click="onSubmit()" type="submit" class=" btn btn-primary">Kaydet </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>



                    <div class="content-backdrop fade"></div>
                </div>
            </div>
        </div>

        <div class="layout-overlay layout-menu-toggle"></div>
    </div>



    <script src="~/vue/vue.global.js"></script>
    <script src="~/axios/axios.js"></script>


    <script>

        const { createApp, ref, computed } = Vue;
        const app = createApp({

            data() {

                return {
                    veriler: null,
                    deneyimler: null,
                    selectedValue: '',
                    deneyimId: null,
                    deneyimAdi: null,
                    deneyimBasTar: null,
                    deneyimBitTar: null,
                }
            },
            mounted() {

            },
            watch: {
                selectedValue(newValue) {

                }

            },
            methods: {
                onSubmit() {
                    if (!this.deneyimAdi || !this.deneyimBasTar || !this.deneyimBitTar) {
                        alert("Lütfen boş bilgi bırakmayınız!");
                    }
                    else {
                        const data = {
                            AcademicianId: this.selectedValue,
                            ExperienceName: this.deneyimAdi,
                            ExperienceDateStart: this.deneyimBasTar,
                            ExperienceDateEnd: this.deneyimBitTar,

                        };

                        axios.post('https://localhost:7210/Experience/Experience/Experience/', data)
                            .then(response => {
                                alert("Deneyim başarıyla eklendi!");
                                location.reload();
                                console.log(response.data);
                            })
                            .catch(error => {
                                alert("Deneyim eklenirken hata oluştu!");
                                location.reload();
                                console.log(error);
                            });
                    }

                },
                logOut() {
                    axios.post('https://localhost:7210/Admin/Login/UserLogOut')
                        .then(response => {
                            console.log(response.data);

                        })
                        .catch(error => {

                            console.log(error);

                        });

                },

            }




        });
        app.mount("#adminExperienceAdd");


    </script>

    <script src="~/assets/vendor/libs/jquery/jquery.js"></script>
    <script src="~/assets/vendor/libs/popper/popper.js"></script>
    <script src="~/assets/vendor/js/bootstrap.js"></script>
    <script src="~/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js"></script>

    <script src="~/assets/vendor/js/menu.js"></script>

    <script src="~/assets/js/main.js"></script>






    <script async defer src="https://buttons.github.io/buttons.js"></script>
</body>
</html>
